<div style="padding:16px">
    <div style="width:100%;margin:auto;background:url('/site/img/<% session.image %>');height:120px;">
        <div style="height:120px;background:rgba(0,0,0,0.6);padding:16px;text-align:right">
            <img align="left" style="width:76px;margin-right:12px;border-radius:38px;border:1px solid #ddd" src="/site/img/<% session.image %>" />
            <span ng-if="session.date != null" style="color:#ddd;font-size:12px;"><% session.date %></span>
            <h4 style="line-height:20px">
                <a style="color:#fff;font-weight:400;font-size:18px;">
                    <% session.subject %>
                </a>
            </h4>
        </div>
    </div>

    <div class="inner" style="padding:24px;border:1px solid #ddd;">
        <p style="height:220px;"><% generalService.truncatedText(session.description, 225) %></p>
        <a data-toggle="modal" data-target="#eventModal" ng-if="session.link != null" ng-click="selectEvent(session)" href="#">RSVP</a>
    </div>
</div>