<div class="widget">
    <h6 class="title">Upcoming</h6>
    <hr>
    <ul class="recent-posts">
        <li>
            <div style="background:#f5f1f9;border:1px solid #ddd;padding:16px;margin-top:24px">
                <img align="right" style="width:64px;margin-bottom:6px;border-radius:32px;border:1px solid #ddd;background:#fff" src="/site/img/javascript.png" />
                <a href="/site/programming-fundamentals">Programming Fundamentals</a>
                <span class="date">Jan 9, 12pm to 4pm</span>
                <span class="date">WeWork, NYC</span>
                <span class="date">$75 or free for bootcamp students</span><br />
                <a class="btn btn-rounded mb0" href="/site/programming-fundamentals">View</a>
            </div>
        </li>

        <li>
            <div style="background:#f5f1f9;border:1px solid #ddd;padding:16px;margin-top:24px">
                <img align="right" style="width:64px;margin-bottom:6px;border-radius:32px;border:1px solid #ddd" src="/site/img/mean.png" />
                <a href="/site/mean-stack-crashcourse">MEAN Stack Crashcourse</a>
                <span class="date">Jan 4 - Jan 14 (4 sessions)</span>
                <span class="date">Mon/Wed, 6:30pm to 8:30pm</span>
                <span class="date">WeWork, NYC</span>
                <span class="date">Tution: $200</span><br />
                <a class="btn btn-rounded mb0" href="/site/mean-stack-crashcourse">View</a>
            </div>
        </li>

        <li>
            <div style="background:#f5f1f9;border:1px solid #ddd;padding:16px;margin-top:24px">
                <img align="right" style="width:64px;margin-bottom:6px;border-radius:32px;border:1px solid #ddd;background:#fff" src="/site/img/whiteboard.png" />
                <a href="/site/8-week-bootcamp">8-Week MVP Bootcamp</a>
                <span class="date">Feb 1 - Mar 25</span>
                <span class="date">Mon - Fri, 10am to 6pm</span>
                <span class="date">WeWork, NYC</span>
                <span class="date">Tuition: $8,000</span><br />
                <a class="btn btn-rounded mb0" href="/site/8-week-bootcamp">View</a>
            </div>
        </li>

        <li>
            <p class="mt48">
            <img class="profile-icon mb24" align="left" style="margin-right:16px" src="/site/img/<% testimonial.image %>" />
              <em>"<% testimonial.quote %>"</em>
              <br />
              <br />
              - <% testimonial.name %>, <% testimonial.title %>
            </p>

        </li>

        <li>
            <a style="display:none" data-toggle="modal" data-target="#confirmationModal" id="confirmation-popup" href="#">show popup</a>
        </li>

        
    </ul>
</div>
