<!DOCTYPE html>
<html ng-app="APIDemo">
  <head>
    <title>{{ title }}</title>
  </head>

  <body ng-controller="GoogleMapsController" ng-init="init()">
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>

    <input ng-model="address" placeholder="Address" />
    <br /><br />
    <button ng-click="geocode()">Find GPS</button>

    <ol>
    	<li ng-repeat="venue in venues track by $index"><% venue.name %></li>
    </ol>


    <script type="text/javascript" src="/min/vendor.js"></script>
    <script type="text/javascript" src="/min/app.js"></script>


  </body>



</html>